:root {
  --bg-color: rgb(127, 70, 165);

    background: rgb(218, 235, 245);
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 90vh;
  display: grid;
  place-content: center;
  text-align: center;
}

p {
  text-align: left;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;

  font-size: 1.5em;
}

pre {
  text-align: left;
  margin-left: 150px;
  font-size: 1.2em;

}

.example {
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;

  /*Centers in blog*/
  margin-left: auto;
  margin-right: auto;

  width: 40em;
  
  border: solid black;
  border-width: 3px;
  border-radius: 15px;

  background-color: tan;
}

.text {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;

  margin: 50px;

  position: relative;
  width: max-content;

  background-color: tan;
}

.text::before, .text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text::before {
  background-color: tan;
  animation: typewriter 5s steps(25) 2s forwards;
}

.text::after {
  width: 0.05em;
  background: black;

  animation:
    typewriter 5s steps(25) 2s forwards,
    blink 1000ms steps(25) infinite;
}

@keyframes typewriter {
  to { left: 100% }
}

@keyframes blink {

  0% { opactiy: 100; }
  49.9% { opacity: 100}

  50% { opacity: 0; }
  100% { opacity: 0; }

}

#subtitle {
  color: rgb(173, 158, 149);
  font-size: 2rem;
  font-weight: 400;
}
