body {

  display: grid;
  place-content: center;
  text-align: center;

  position: relative;
  min-height: 100vh;

  margin: 100px;
  margin-top: 10px;

  font-size: 75px;
  background-color: gray;

  perspective: 10em;
  perspective-origin: 50% calc(40% - 3em);
}

h1 {
  position: relative;
  font-size: 100px;
}

p {

  position: relative;
  font-size: 25px;

  text-align: left;
}

.pres {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}

pre {
  position: relative;

  font-size: 15px;
  margin: 20px;

  text-align: left;
}

.cube {
  position: relative;

  width: 2em;
  height: 2em;

  top: 1em;
  margin: auto;
  margin-bottom: 200px;

  transform-style: preserve-3d;
  animation: cubeRotate 5s infinite linear;

}

@keyframes cubeRotate {
  to { transform: rotateY(360deg); }
}

/*All children of .cube*/
.cube > * {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: lightblue;
  opacity: 50%;

  box-shadow: 0 0 0.5em #000d inset;
}

.front {
  transform: translateZ(1em);
}

.back {
  transform: translateZ(-1em);
}

.left {
  transform: rotateY(90deg) translateZ(-1em);
}

.right {
  transform: rotateY(90deg) translateZ(1em);
}

.top {
  transform: rotateX(90deg) translateZ(1em);
}

.bottom {
  transform: rotateX(90deg) translateZ(-1em);
}

