:root {
  background-color: #317f91;

  margin: auto 5em;
}

body {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #83cada;

}

h1 {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 3em;
  color: black;

  height: 2.5em;
  width: 5em;

  margin: 1em auto;

  background-color: white;
  border-radius: 12px;
}

p {
  font-size: 1.5em;
}

.clock {
    font-size: 3em;
    letter-spacing: 7px;
}